body {
    background:rgb(72, 2, 119);
    color:rgb(121, 153, 6);
}
    /* unvisited link */
/*a:link {
    color: red;
}*/
/* visited link */
/*a:visited {
    color: green;
}*/
/* mouse over link */
a:hover {
    color: hotpink;
}
/* selected link */
a:active {
    color: blue;
}
